@page
@using BookStoreWeb.Models;
@model System.Collections.Generic.List<BookStoreWeb.Models.Book>
    ViewData["Title"] = "Home Page";
}

<h2>Books</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>In Stock</th>
        </tr>
    </thead>
    <tbody>
    @foreach (BookStoreWeb.Models.Book book in Model)
    {
        <tr>
            <td>@book.Title</td>
            <td>@book.Author</td>
            <td>@book.Genre</td>
            <td>@book.Price</td>
            <td>@book.InStock</td>
        </tr>
    }
    </tbody>
</table>
